* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  width: 80%;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: solid 1px hsl(223, 64%, 98%);
  margin-bottom: 60px;
}

.header-text {
  display: flex;
  gap: 36px;
}

.logo {
  width: 110px;
  height: 16px;
}

.header-links {
  display: flex;
  color: hsl(219, 9%, 45%);
  font-size: 12px;
  gap: 18px;
}

.header-icons {
  display: flex;
  gap: 40px;
  align-items: center;
}

.avatar {
  width: 38px;
}

.product {
  display: flex;
  justify-content: space-between;
}

.product-images {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 40px;
}

.main-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 24px;
}

.thumbnails {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.thumbnail-image {
  width: 20%;
  border-radius: 10px;
}

.active-image {
  opacity: 30%;
  border: solid 2px hsl(26, 100%, 55%);
}

.product-info {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.company-title {
  font-size: 10px;
  letter-spacing: 1px;
  color: hsl(26, 100%, 55%);
  text-transform: uppercase;
  margin-bottom: 18px;
}

.product-title {
  line-height: 1;
  margin-bottom: 24px;
}

.product p {
  font-size: 12px;
  font-weight: 700;
  color: hsl(219, 9%, 45%);
  line-height: 1.5;
  margin-bottom: 18px;
}

.price {
  font-weight: 700;
  font-size: 22px;
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.discount {
  margin-left: 12px;
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 12px;
}

.old-price {
  color: hsl(220, 14%, 75%);
  font-size: 12px;
  font-weight: 700;
  text-decoration: line-through;
  margin-bottom: 18px;
}
.inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(223, 64%, 98%);
  border-radius: 5px;
  width: 35%;
  height: 40px;
}

#quantity {
  flex: 1;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
}

.sub-btn,
.add-btn {
  height: 100%;
  flex: 1;
  background-color: transparent;
  border: none;
  color: hsl(26, 100%, 55%);
  font-weight: 700;
  font-size: 24px;
}

.add-to-cart {
  background-color: hsl(26, 100%, 55%);
  color: white;
  padding: 10px;
  width: 60%;
  border: 0;
  border-radius: 10px;
  height: 40px;
  font-weight: 700;
  /* box-shadow: 0px 10px  hsl(26, 100%, 55%); */
}
